<div class="global-widget">
    <div class="indicators">
        <div class="indicators__left-block">
            <img src="../../assets/indicators.svg" alt="">
            <span class="indicators__left-block__text">Показатели</span>
        </div>
        <img src="../../assets/Dots.svg" alt="">
    </div>
    <div class="parameters">
        <div class="parameters__text1">Параметры</div>
        <div class="parameters__right-block">
            <div class="parameters__text2">Факт</div>
            <div class="parameters__text3">Модель</div>
        </div>
    </div>
    <app-items></app-items>
</div>